{% extends 'base.html.twig' %}

{% block title %}Liste des actualités{% endblock %}

{% block page %}

<div class="admin-section justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto mb-5">

                <h1 class="mx-auto mb-5 text-center text-uppercase">Administration</h1>

                <h2 class="text-primary text-center mb-5">Liste des actualités</h2>

                <div class="mb-5 text-center">
                    <div class="btn btn-primary">
                        <a class="d-flex align-items-center text-white" href="{{ path('admin_news_new') }}">
                            <p class="m-0 mr-2">Ajouter</p><i class="fas fa-plus fa-2x"></i>
                        </a>
                    </div>
                </div>

                <div class="list-group scrollable-400 col-lg-8 mx-auto">
                    {% for news_index in news %}
                    <div class="list-group-item w-100 mx-auto bg-transparent text-white border-bottom">
                        <div class="d-flex justify-content-between">

                            <div class="d-flex flex-wrap align-items-end">
                                <h4 class="m-0 mr-3">{{ news_index.title }}</h4>


                            </div>

                            <small class="d-flex align-items-end">{{ news_index.date|date("d/m/Y") }}</small>
                        
                        </div>

                        <div class="d-flex flex-wrap align-items-end mb-2">

                            <a class="mr-3 text-warning" href="{{ path('admin_news_edit', {'id': news_index.id}) }}">
                                Modifier
                            </a>

                            <a class="confirmDeleteNews text-danger" href="{{ path('admin_news_delete', {'id': news_index.id}) }}">
                                Supprimer
                            </a>

                        </div>

                        <p class="h6 card-text">{{ news_index.content }}</p>
                    </div>
                    {% endfor %}
                </div>

                <div class="mt-5 text-center">
                    <a href="{{ path('admin_index') }}">Retour</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block modal %}

<!-- Inclusion du modal de confirmation de suppression -->
{% include "_partials/_modal.html.twig" %}

{% endblock %}
