{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block page %}


<section id="gellery" class="gallery-section">
        <h1 class="mb-5 text-uppercase">Galerie</h1>
        <h2 class="text-center text-primary mb-5">Retrouver ici les photos de nos stages et évènements</h2>
        <div class="row mb-5 justify-content-center">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_gallery_new') }}" class="btn btn-primary">ajouter une image  <i class="fas fa-images fa-2x"></i></a>
            {% endif %}
        </div>

        <div class="pic-container d-flex">
            <div class="row gallery">

                {% for media in medias %}

                <div class="parent thumb-3 mb-4">
                    <div class="wrapper">
                        <div class="content">
                            <div class="img">
                                <img src="{{ asset(media_upload_path ~ (media.url ?: 'default-img.png')) }}"  alt="{{ media.alt }}">
                            </div>
                            <div class="text">
                                <div class="line title">{{ media.alt }}</div>

                                {% if is_granted('ROLE_ADMIN') %}

                                <div class="line subtitle">{{ media.caption }}</div>
                                <div class="line subtitle">
                                    <a class="text-warning" href="{{ path('admin_gallery_edit', {"id" : media.id}) }}">Edition  <i class="fas fa-edit"></i></a>
                                    <a class="red ml-5 confirmDeleteMedia" href="{{ path('admin_gallery_delete', {"id" : media.id}) }}">Suppression  <i class="fas fa-times-circle"></i></a>
                                </div>
                                {% else %}

                                <div class="line subtitle">{{ media.caption }}</div>
                                <div class="line subtitle">Photo prise le {{ media.taken_at|date('d/m/Y') }}</div>

                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
            
    </section>

{% endblock %}
{% block modal %}

<!-- Inclusion du modal de confirmation de suppression -->
{% include "_partials/_modal.html.twig" %}

{% endblock %}
